<div class="hero min-h-screen" style="background-image: url(/assets/img/milky-way.jpeg);">
  <div class="hero-overlay bg-opacity-60"></div>
  <div class="hero-content text-center text-neutral-content">
    <div class="max-w-md">
      <h1 class="mb-5 text-5xl font-bold">Welcome</h1>
      <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, nisi!</p>
      <a class="btn btn-primary normal-case text-2xl ml-2"
      href="/continents" >Continents</a>
    </div>
  </div>
</div>
